/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

img {
    width: 100%;
}

/* header section */
.header-content {
    background: url(../img/header_day.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 7em;
}

.header-content h2 {
    color: #fff;
    font-family: 'Bangers', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    letter-spacing: 3px;
}

/* upper main section style */
.upper-content {
    background: url(../img/upper_day.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1em;
    height: 20em;
}

/*upper content one style - removed*/ 

/* upper content two style */
.upper-two {
    z-index: 2; 
}

.input-div {
    margin-bottom: 1em;
}

.warning-block {
    color: red;
    font-size: .9em;
    font-weight: 400;
    visibility: hidden;
}

.warning-msg {
    color:  red;
}

.input-field {
    height: 2.5em;
    width: 19em;
    padding: 3px;
    font-weight: 700;
    vertical-align: middle;
    box-shadow: 0 4px 15px 8px #222  ;
    border-radius: 5px;
    border: none;
}
.greet-counter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    counter-reset: white;
    margin-top: .3em;
    /* background: red; */
    /* width: 40px; */
}
.greet-counter i {
    color: #fff;
    vertical-align: middle;
    font-size: 2.5em;
}
.greet-counter span {
    position: absolute;
    color: #000;
   font-weight: 700;
}

/* radio buttons */
.radio-buttons {
    margin-bottom: 1em;
}

.radio-label {
    color: #fff;
}

/* greet button */
.greet-btn, .reset-btn {
    background: #008000;
    color: #fff;
    border: none;
    border-radius: .8em;
    padding: 2px 7px;
    font-size: 1.2em;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}
.reset-btn {
    background: red;
}

.greet-btn:hover {
    background: rgb(60, 207, 60);
}
.reset-btn:hover {
    background: rgb(206, 53, 53);
}

.greet-btn:active, .reset-btn:active {
    background: #000;
}

/*----------------------------------------------------------*/
/* lower main section styles */
.lower-content {
    background: url(../img/greet_msg_night.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 7em;
}

.lower-content h2 {
    color: #fff;
}
/*----------------------------------------------------------*/
/* mode style */
.sun {
    display: none;
}
.fa-moon {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.fa-sun {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.header-content-moon {
    background: url(../img/header_night.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 7em;
}
.lower-content-moon {
    background: url(../img/greet_msg_day.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 7em;
}
.upper-content-moon {
    background: url(../img/upper_night.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1em;
    height: 20em;
}





