@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* header section */
.header-container {
    margin-top: 5em;
}
.header-content {
    position: relative;
}

.header-content img {
    position: absolute;
    z-index: -1;
}

.header-content h2 {
    color: #fff;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

/* upper main section style */
.upper-container{
    margin-top: 5em;
}

.upper-content {
    /* position: relative; */
    background: #222;
    padding: 1em;
}

/* upper content one style */
/* .upper-one {
    position: absolute;
    z-index: -1;
    width: 100%;
} */

/* .upper-one img {
    height: 20em;
    object-fit: cover;
} */

/* upper content two style */
.upper-two {
    
    z-index: 2;
}

.input-div {
    margin-bottom: 1em;
}

.input-field {
    height: 2.5em;
    width: 19em;
}
.greet-counter {
    color: #000;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    font-weight: 700;
}

/* radio buttons */
.radio-buttons {
    margin-bottom: 1em;
}

.radio-label {
    color: #fff;
}

/* greet button */
.greet-btn {
    background: #008000;
    color: #fff;
    border: none;
    border-radius: .8em;
    padding: 2px 7px;
    font-size: 1.2em;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}
.greet-btn:hover {
    background: rgb(60, 207, 60);
}
.greet-btn:active {
    background: #000;
}
/*----------------------------------------------------------*/
/* lower main section styles */
.lower-container {
    margin-top: 1.2em;
}
.lower-content {
    position: relative;
   
}
.lower-content img {
    position: absolute;
    z-index: -1;
}
.lower-content h2 {
   color: #fff;
   
}
